<!DOCTYPE html>
<html>
  <head>
    <script data-require="angular.js@1.6.1" data-semver="1.6.1" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="todoCtrl">
<form ng-submit="todoAdd()">
  <p>Total {{totaltodos}} tasks</p>
    <input type="text" ng-model="todoInput" size="60" placeholder="Add New Task">
    <input type="submit" value="Add new Task">
</form>
<br>
<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"><span>{{x.todoText|uppercase}}</span>
</div>
<p><button ng-click="remove()">Remove completed tasks</button></p>
</body>
</html>